body{

margin:0;
font-family:Arial, sans-serif;
background:#f1f7ff;

}



header{

background:linear-gradient(90deg,#0077b6,#00b4d8);
color:white;
text-align:center;
padding:30px;

}



nav{

background:#023e8a;
padding:15px;
text-align:center;

}


nav a{

color:white;
text-decoration:none;
margin:20px;
font-size:18px;

}



.hero{

text-align:center;
padding:60px;

}



.hero h2{

font-size:35px;
color:#023e8a;

}



button{

background:#0077b6;
color:white;
border:none;
padding:12px 25px;
border-radius:20px;
cursor:pointer;

}



.about{

padding:30px;
text-align:center;

}



.cards{

display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
padding:30px;

}



.card{

background:white;
width:260px;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px gray;

}



.form-box{

background:white;
width:400px;
margin:40px auto;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px gray;

}



input,select,textarea{

width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid gray;

}



.title{

text-align:center;

}


#records{

display:flex;
justify-content:center;
flex-wrap:wrap;

}


footer{

background:#023e8a;
color:white;
text-align:center;
padding:20px;

}